body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body, button, input, textarea {
    color: #262626;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}

a {
    color: #00376b;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container > main {
    width: 100%;
    height: 100%;
}

.container > footer {
    width: 100%;
    height: 150px;
}

.content {
    max-width: 935px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content > div {
    width: 50%;
    height: 618px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form .form {
    padding-bottom: 15px;
}

.login-form .form, .login-form .register {
    background-color: white;
    max-width: 350px;
    border: 1px solid #dbdbdb;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 0 10px;
}

.login-form .form form {
    width: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.login-form .form input {
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    font-size: 12px;
    padding: 9px;
    height: 35px;
    border-radius: 3px;
}

.login-form .form form input:first-child {
    margin-bottom: 5px;
}

.login-form button[type="submit"] {
    margin-top: 10px;
    background-color: #0095f6;
    border-radius: 4px;
    border: 1px solid #0095f6;
    height: 30px;
    color: white;
    font-weight: bold;
}

.logo {
    background-image: url('../img/32f0a4f27407.png');
    background-repeat: no-repeat;
    background-position: 0 -130px;
    height: 51px;
    width: 175px;
    font-size: 0;
    margin: 22px auto 35px;
}

.slider {
    position: relative;
    background-image: url('../img/43cc71bb1b43.png');
}
.slider img {
    position: absolute;
    top: 100px;
    left: 151px;
}

.hr-text {
    position: relative;
    border: 0;
    width: 250px;
    margin: 15px auto 0;
    text-align: center;
}

.hr-text:before {
    content: '';
    position: absolute;
    background: #dbdbdb;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 600;
    padding: 0 2em;
    line-height: 1.5em;
    background-color: #fcfcfa;
}

.facebook-connect {
    width: 250px;
    margin: 20px auto;
    border: 0;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook-connect .face-icon {
    background-image: url('../img/32f0a4f27407.png');
    background-repeat: no-repeat;
    background-position: -414px -259px;
    height: 16px;
    width: 16;
    display: block;
}

.facebook-connect .face-text {
    margin-left: 5px;
    color: #385185;
    cursor: pointer;
    font-weight: 600;
}

.register {
    text-align: center;
    padding: 10px 30px;
}

.register-link {
    color: #0095f6;
    font-weight: 600;
    font-size: 14px;
}

.register-link {
    color: #0095f6;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.app {
    max-width: 350px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app p {
    margin-bottom: 20px;
}

.app img {
    width: 135px;
    height: 40px;
}

@media (max-width:830px) {
    .smartphone{
        display:none;
    }
}

.slider {
    background-image: url('../img/43cc71bb1b43.png');
    background-size: 454px 618px;
    height: 618px;
}

.slider img {
    animation-name: sliderFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;
}

@keyframes sliderFadeInOut {
	0% {
		opacity: 1;
	}
	17% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	92% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.slider img:nth-of-type(1) {
	animation-delay: 6s;
}

.slider img:nth-of-type(2) {
	animation-delay: 4s;
}

.slider img:nth-of-type(3) {
	animation-delay: 2s;
}

.slider img:nth-of-type(4) {
	animation-delay: 0;
}

footer a {
    width: 100%;
    height: 150px;
    color: #8e8e8e;
    padding: 5px;
}

.footer-links {
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.footer-idioma {
    display: flex;
    color: #8e8e8e;
}

.arrow-lang {
    margin-left: 5px;
}

.copywrite {
    color: #8e8e8e;
}

.footer-copy {
    display: flex;
    justify-content: center;
}